{{! Templates

Link
==============
<li class="drawer-list-item">
  <a href="#" title="Follow me on twitter!">
    <i class="fa fa-twitter"></i> Follow me
  </a>
</li>

Divider
==============
<li class="drawer-list-divider"></li>

Title
==============
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

ProTip:
==============
Ghostium uses Font Awesome you can find all icons available on the url below
  http://fortawesome.github.io/Font-Awesome/cheatsheet/

}}


<li class="drawer-list-item">
  <a href="/" data-pjax>
    <i class="fa fa-home"></i>主页
  </a>
</li>

<li class="drawer-list-item">
  <a href="{{@blog.url}}/archives/">
    <i class="fa fa-archive"></i>归档
  </a>
</li>

<li class="drawer-list-item">
  <a href="{{@blog.url}}/tags/">
    <i class="fa fa-tags"></i>标签
  </a>
</li>

<li class="drawer-list-item">
  <a href="{{@blog.url}}/rss/">
    <i class="fa fa-rss"></i>订阅
  </a>
</li>

<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  Follow me
</li>

<li class="drawer-list-item">
  <a href="http://twitter.com/Key_v2" target="_blank">
    <i class="fa fa-twitter"></i>Twitter
  </a>
</li>

<li class="drawer-list-item">
  <a href="http://github.com/KeyLD" target="_blank">
    <i class="fa fa-github"></i>Github
  </a>
</li>

<li class="drawer-list-divider"></li>
<li class="drawer-list-item drawer-list-title">
  小伙伴
</li>

<li class="drawer-list-item">
  <a href="http://blog.csdn.net/Yasola" target="_blank">
    <i class="fa fa-user"></i>老薛
  </a>
</li>

<li class="drawer-list-item">
  <a href="http://blog.csdn.net/qq_32570675" target="_blank">
    <i class="fa fa-user"></i>金汶巨巨
  </a>
</li>

<li class="drawer-list-item">
  <a href="http://blog.csdn.net/thinkerleo1997/" target="_blank">
    <i class="fa fa-user"></i>亚鑫巨巨
  </a>
</li>

<li class="drawer-list-item">
  <a href="http://blog.csdn.net/controlbear" target="_blank">
    <i class="fa fa-user"></i>许学姐
  </a>
</li>

<li class="drawer-list-item">
  <a href="http://blog.csdn.net/cherish0222" target="_blank">
    <i class="fa fa-user"></i>雨情学姐
  </a>
</li>


